# Allowlist: only the files below are tracked. Everything else in this folder
# (design explorations, unlicensed source photos, scratch images) stays local.
*
!.gitignore
!README.md
!template.html
!build_homepage.py
!make_wallpaper.py
!assets/
!assets/**
!dist/
!dist/index.html
.DS_Store
